.hidden
{
	display: none;
}

div, header, section, nav, body
{
	font-family: omnes-pro, arial,  sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 38px;
}

#siteBackground
{
		width: 100%;
		height: 100%;
		background-image: url('');
		background-color: #FFFAFA;
}

#wrapper
{
	margin: 0 auto;
	width: 1200px;
}

#mainHeaderHome
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #63AEAA;
}

.mainNav
{
	align-self: flex-start;
	margin-top: 25px;
}

.mainNav ul
{
	display: flex;
	flex-direction: row;
}

.mainNav ul li
{
	margin-right: 15px;
}

.mainNav ul li a
{
	text-decoration: none;
	color: #FFFAFA;
}

.selected
{
	text-decoration: underline;
}

.mainNav ul li a:hover
{
	text-decoration: none;
	color: #F7EA46;
}

.logoContainer
{
	margin-left: 10px;
	align-self: flex-start;
	height: 90px;
	width: 250px;
}

#welcomeImage
{
	font-size: 100px;
	color: #FFFAFA;
	margin-top: 150px;
	margin-right: 200px;
}

#heroImage
{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	width: 1200px;
	height: 990px;
	background-image: url('../images/homepage_banner.jpg');
}

footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90px;
	background-color: #63AEAA;
}

.socialMedia
{
	height: 90px;
	margin-left: 75px;
}


/* KEYFRAMES */

@keyframes flip {

	0%{transform: translate(0,0) rotate(0deg)}
	25%{transform: translate(0,-50px) rotate(90deg)}
	50%{transform: translate(0,-100px) rotate(180deg)}
	75%{transform: translate(0,-50px) rotate(270deg)}
	100%{transform: translate(0,0) rotate(360deg)}

}
/* ANIMATED ELEMENTS */

#welcomeMessage:hover
{
	animation-name: flip;
	animation-duration: 1s;
	animation-timing-function: linear;
}



/*================== About Page ==================*/

#mainHeader
{
	display: flex;
	flex-direction: row;
	width: 1200px;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	background-color: #63AEAA;
}

#aboutTimeline
{
	display: flex;
	flex-direction: column;
}

.timelineSection
{
	display: flex;
	justify-content: center;
	width: 1200px;
	height: 620px;
}

.timelineLeft
{
	display: flex;
	justify-content: flex-end;
	width: 500px;
	height: 620px;
	margin-right: 25px;
}

.timelineMiddle
{

}

.timelineRight
{
	display: flex;
	width: 500px;
	height: 620px;
	margin-left: 25px;
}

.imageContainer
{
	align-self: center;
	height: auto;
	width: auto;
}

.textContainer
{
	width: 450px;
	height: auto;
	text-align: left;
	align-self: center;
}

.textContainer h2
{
	font-size: 32px;
	color: #63AEAA;
}

.textContainer p
{
	padding-top: 20px;
	font-size: 24px;
	line-height: 38px;
	color: #63AEAA;
}

/*================== Store Page ==================*/

.storeContainer
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#productContainer1
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 70px;
	height: 350px;
	width: 350px;
	background-image: url('../images/product_1-pack.jpg');
}

#productContainer2
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 70px;
	height: 350px;
	width: 350px;
	background-image: url('../images/product_2-pack.jpg');
}

#productContainer3
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 70px;
	height: 350px;
	width: 350px;
	background-image: url('../images/product_3-pack.jpg');
}

#productContainer4
{
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin: 70px;
	height: 350px;
	width: 350px;
	background-image: url('../images/product_4-pack.jpg');
}

.priceTag
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 350px;
	height: 60px;
	background-color: #63AEAA;
}

.priceTag h2
{
	margin-top: 15px;
	font-size: 28px;
	align-self: center;
	color: #FFFAFA;
}

.priceTag h3
{
	font-size: 30px;
	align-self: center;
	color: #63AEAA;
	visibility: hidden;
}

.priceTag h3 a {
	text-decoration: none;
	color: #63AEAA;
	visibility: hidden;
}

#productContainer1:hover .priceTag h2 {
	display: none;
}

#productContainer1:hover .priceTag h3 a {
	visibility: visible;
	color: #63AEAA;
}


#productContainer1:hover .priceTag {
	background-color: #FFFAFA;
	border: 3px solid #63AEAA;
}

#productContainer2:hover .priceTag h2 {
	display: none;
}

#productContainer2:hover .priceTag h3 a  {
	visibility: visible;
	color: #63AEAA;
}

#productContainer2:hover .priceTag {
	background-color: #FFFAFA;
	border: 3px solid #63AEAA;
}

#productContainer3:hover .priceTag h2 {
	display: none;
}

#productContainer3:hover .priceTag h3 a  {
	visibility: visible;
	color: #63AEAA;
}

#productContainer3:hover .priceTag {
	background-color: #FFFAFA;
	border: 3px solid #63AEAA;
}

#productContainer4:hover .priceTag h2 {
	display: none;
}

#productContainer4:hover .priceTag h3 a  {
	visibility: visible;
	color: #63AEAA;
}

#productContainer4:hover .priceTag {
	background-color: #FFFAFA;
	border: 3px solid #63AEAA;
}

/*================== Contact Page ==================*/

#contactBody
{
	display: flex;
	justify-content: center;
}

#contactPage
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 460px;
	width: 950px;
	margin: 50px auto;
}

#contactMedia
{
	margin-right: 50px;
	margin-left: 50px;
}

#contactForm
{
	height: 460px;
	width: 460px;
	margin-top: 42px;
}

#contactForm h2
{
	font-size: 32px;
	color: #63AEAA;
	margin-bottom: 18px;
}

#contactForm p
{
	font-size: 24px;
	color: #63AEAA;
	line-height: 32px;
}

#contactForm form label
{
	font-size: 24px;
	color: #63AEAA;
	line-height: 32px;

}
