.hidden
{
	display: none;
}

div, header, section, nav, body
{
	font-family: omnes-pro, arial,  sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 38px;
}

#siteBackground
{
		width: 100%;
		height: 100%;
		background-image: url('');
		background-color: #FFFAFA;
}

#wrapper
{
	margin: 0 auto;
	width: 1200px;
}

#mainHeaderHome
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #63AEAA;
}

.mainNav
{
	align-self: flex-start;
	margin-top: 25px;
}

.mainNav ul
{
	display: flex;
	flex-direction: row;
}

.mainNav ul li
{
	margin-right: 15px;
}

.mainNav ul li a
{
	text-decoration: none;
	color: #FFFAFA;
}

.selected
{
	text-decoration: underline;
}

.mainNav ul li a:hover
{
	text-decoration: none;
	color: grey;
}

.logoContainer
{
	margin-left: 10px;
	align-self: flex-start;
	height: 90px;
	width: 250px;
}

#welcomeMessage
{
	font-size: 100px;
	color: #FFFAFA;
	margin-top: 150px;
	margin-right: 200px;
}

#heroImage
{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	width: 1200px;
	height: 990px;
	background-image: url('../images/homepage_banner.jpg');
}

footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 90px;
	background-color: #63AEAA;
}


/*================== About Page ==================*/

#mainHeader
{
	display: flex;
	flex-direction: row;
	width: 1200px;
	height: 90px;
	justify-content: space-between;
	align-items: center;
	background-color: #63AEAA;
}

#aboutTimeline
{
	display: flex;
	flex-direction: column;
}

.timelineSection
{
	display: flex;
	justify-content: center;
	width: 1200px;
	height: 620px;
}

.timelineLeft
{
	display: flex;
	justify-content: flex-end;
	width: 500px;
	height: 620px;
	margin-right: 25px;
}

.timelineMiddle
{

}

.timelineRight
{
	display: flex;
	width: 500px;
	height: 620px;
	margin-left: 25px;
}

.imageContainer
{
	align-self: center;
	height: auto;
	width: auto;
}

.textContainer
{
	width: 450px;
	height: auto;
	text-align: left;
	align-self: center;
}

.textContainer h2
{
	font-size: 32px;
	color: #63AEAA;
}

.textContainer p
{
	padding-top: 20px;
	font-size: 24px;
	line-height: 38px;
	color: #63AEAA;
}
